{% load static i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:'ru' }}">
<head>
    {% include 'includes/meta.html' %}
    {% include 'includes/seo.html' %}
    {% include 'includes/styles.html' %}
    {% include 'includes/favicon.html' %}
    {% block extra_css %}{% endblock %}
    {% for snippet in snippets_head %}{{ snippet.code|safe }}{% endfor %}
</head>

<body>
    {% for snippet in snippets_body_start %}{{ snippet.code|safe }}{% endfor %}
    <div id="wrapper" class="counter-scroll">
        {% include 'includes/top-bar.html' %}
        {% include 'includes/header.html' %}

        <main class="main-content tf-spacing-8" style="padding-bottom: 0px;background-color: #FFFDF5;">
            {% block content %}{% endblock %}
        </main>

        {% include 'includes/footer.html' %}
    </div>

    {% include 'includes/mobile_menu.html' %}
    {% include 'includes/scripts.html' %}
    {% include 'includes/auth_popup.html' %}
    {% include 'includes/auth_scripts.html' %}
    
    {% block extra_js %}{% endblock %}
    {% for snippet in snippets_body_end %}{{ snippet.code|safe }}{% endfor %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@21/build/css/intlTelInput.css">
<script src="https://cdn.jsdelivr.net/npm/intl-tel-input@21/build/js/intlTelInput.min.js"></script>
</body>
</html>