{% extends 'base.html' %}
{% load static i18n %}

{% block title %}espacademia - Real Estate{% endblock %}

{% block meta_description %}espacademia is a website specializing in buying and renting properties{% endblock %}

{% block content %}
    {% include 'courses/activo-hero.html' %}
    {% include 'courses/activo-whom.html' %}
    {% include 'courses/activo-methody.html' %}
    {% include 'courses/activo-how.html' %}
    {% include 'courses/activo-levels.html' %}
    {% include 'courses/activo-benefit2.html' %}
    {% include 'courses/activo-my-level.html' %}
    {% include 'courses/activo-prices.html' %}
    {% include 'courses/activo-newsletters2.html' %}
    {% include 'courses/activo-teachers.html' %}
    {% include 'courses/activo-testimonials-video.html' %}
    {% include 'courses/activo-testimonials.html' %}
    {% include 'courses/activo-ask-questions2.html' %}
{% endblock %}