{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Онлайн курс Español Activo Intensivo — ESPacademia{% endblock %}

{% block meta_description %}Интенсивный онлайн-курс испанского языка. С нуля до уровня B2 за 14 месяцев! Индивидуальные занятия 3 раза в неделю с носителем.{% endblock %}

{% block content %}
    {% include 'courses/intensivo-hero.html' %}
    {% include 'courses/intensivo-whom.html' %}
    {% include 'courses/intensivo-approach.html' %}
    {% include 'courses/activo-how.html' %}
    {% include 'courses/activo-levels.html' %}
    {% include 'courses/activo-benefit2.html' %}
    {% include 'courses/activo-my-level.html' %}
    {% include 'courses/intensivo-prices.html' %}
    {% include 'courses/activo-newsletters2.html' %}
    {% include 'courses/activo-teachers.html' %}
    {% include 'courses/activo-testimonials-video.html' %}
    {% include 'courses/activo-testimonials.html' %}
    {% include 'courses/activo-ask-questions2.html' %}
{% endblock %}