{% extends 'base.html' %}
{% load static i18n %}

{% block title %}espacademia - Real Estate{% endblock %}

{% block meta_description %}espacademia is a website specializing in buying and renting properties{% endblock %}

{% block content %}
    {% include 'mainpage/hero_offers.html' %}
    {% include 'mainpage/why.html' %}
    {% include 'mainpage/about.html' %}
    {% include 'mainpage/courses.html' %}
    {% include 'mainpage/methody.html' %}
    {% include 'mainpage/teachers.html' %}
    {% include 'mainpage/testimonials.html' %}
    {% include 'mainpage/faq2.html' %}
{% endblock %}