{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Онлайн курсы испанского языка с носителями — ESPacademia{% endblock %}
{% block meta_description %}Онлайн школа испанского языка ESPacademia. Курсы с носителями от А1 до С1. Заговорите по-испански за 3 месяца! 2000+ довольных студентов.{% endblock %}

{% block content %}
    {% include 'mainpage/hero_offers.html' %}
    {% include 'mainpage/why.html' %}
    {% include 'mainpage/about.html' %}
    {% include 'mainpage/courses.html' %}
    {% include 'mainpage/methody.html' %}
    {% include 'mainpage/teachers.html' %}
    {% include 'mainpage/testimonials.html' %}
    {% include 'mainpage/faq2.html' %}
{% endblock %}