{% extends 'base.html' %}
{% load static i18n %}

{% block title %}espacademia - Real Estate{% endblock %}

{% block meta_description %}espacademia is a website specializing in buying and renting properties{% endblock %}

{% block content %}
    {% include 'mainpage/banner_top.html' %}
    {% include 'mainpage/rating.html' %}
    {% include 'mainpage/banner_middle1.html' %}
    {% include 'mainpage/latest_articles.html' %}
    {% include 'mainpage/developer_offers.html' %}
    {% include 'mainpage/banner_middle2.html' %}
    {% include 'mainpage/videos.html' %}
    {% include 'mainpage/events.html' %}
    {% include 'mainpage/testimonials.html' %}
    {% include 'mainpage/partners.html' %}
    {% include 'mainpage/faq.html' %}
    {% include 'mainpage/latest_news.html' %}
    {% include 'mainpage/footer_about.html' %}
{% endblock %}