{% extends "account/email/base_message.html" %}

{% block subject %}Registrierungsversuch - espacademia{% endblock %}

{% block preview %}Jemand hat versucht, ein Konto mit Ihrer E-Mail-Adresse zu erstellen{% endblock %}

{% block icon %}
<div style="background:rgba(51,106,234,0.1);border-radius:50%;display:inline-block;height:80px;width:80px;text-align:center;padding-top:16px;box-sizing:border-box;">
<img src="data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjMzM2YWVhIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0OCIgaGVpZ2h0PSI0OCIgdmlld0JveD0iMCAwIDUyOC42MzMgNTI4LjYzMiI+PHBhdGggZD0iTTI2NC4zMTcgMzI2LjIzNWMtMTMuNzM5IDAtMjYuNjU5LTUuMzQ5LTM2LjM3MS0xNS4wNjdMMC42OTIgODMuOTE0djM1Ni44NjNjMCAxNi44OTcgMTMuNzAzIDMwLjYwMSAzMC42IDMwLjYwMWg0NjYuMDQ0YzE2Ljg5NiAwIDMwLjYtMTMuNzAzIDMwLjYtMzAuNjAxVjgzLjkyTDMwMC42OTMgMzExLjE2N2MtOS43MTYgOS43MTktMjIuNjM2IDE1LjA2OC0zNi4zNzYgMTUuMDY4eiIvPjxwYXRoIGQ9Ik0wLjY5MiA1Ny4yNTVIMGwuNjk4LjY5NyAyNDAuMjI5IDI0MC4yMzRjNi40NjMgNi40NTcgMTQuOTI3IDkuNjg4IDIzLjM5MSA5LjY4OCA4LjQ2NCAwIDE2LjkzMy0zLjIzMSAyMy4zOS05LjY4OGwyNDAuMjI4LTI0MC4yMzMuNjk3LS42OTdoLS42OTdILjY5MnoiLz48L3N2Zz4=" width="48" height="48" alt="" style="vertical-align:middle;border:0;">
</div>
{% endblock %}

{% block heading %}Konto existiert bereits{% endblock %}

{% block subheading %}Es wurde versucht, ein neues Konto zu erstellen{% endblock %}

{% block content %}Jemand hat versucht, ein Konto mit der E-Mail-Adresse {{ email }} zu erstellen. Es existiert jedoch bereits ein Konto mit dieser Adresse. Falls Sie Ihr Passwort vergessen haben, können Sie es zurücksetzen.{% endblock %}

{% block button_url %}{{ password_reset_url }}{% endblock %}

{% block button_text %}Passwort zurücksetzen{% endblock %}