<!-- Banner Section Middle 2 -->
{% if banners_middle2 %}
<div class="tf-container tf-spacing-7 pt-0">
    <div class="banner-rotation">
        {% for banner in banners_middle2 %}
        <div class="banner-content{% if forloop.first %} banner-rotation-active{% endif %}" 
             data-tab="{{ forloop.counter0 }}"
             {% if not forloop.first %}style="display: none;"{% endif %}>
            <a href="{% if banner.link %}{{ banner.link }}{% else %}#{% endif %}" 
               {% if banner.open_popup %}data-popup="#popup-lead"{% endif %}
               {% if banner.link and not banner.open_popup %}target="_blank"{% endif %}
               class="d-block">
                <picture>
                    <source media="(min-width: 768px)" srcset="{{ banner.desktop_url }}">
                    <img src="{{ banner.mobile_url }}" class="w-100" alt="{{ banner.alt_text }}">
                </picture>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}
<!-- End Banner Section Middle 2 -->