<div class="section-popular tf-spacing-1" style="background-color: #FFFDF5;">
    <div class="tf-container">
        <div class="heading-section justify-content-center text-center">
            <h3>У ВАС ОСТАЛИСЬ ВОПРОСЫ?</h3>
            <p>Наш менеджер с радостью ответит на них и поможет подобрать программу обучения, которая гарантированно приведёт вас к результату.</p>
        </div>
        <div class="section-consult-btn">
            <button class="tf-btn btn-px-28" type="button" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="faq_bottom">
                <span>Нужна консультация</span>
                <span class="bg-effect"></span>
            </button>
        </div>
    </div>
</div>
<style>
.section-popular .tf-btn {
    margin-top: 24px;
}
@media (max-width: 767px) {
    .section-popular .tf-btn {
        margin-top: 10px;
    }
}
@media (max-width: 767px) {
    .heading-section {
        margin-bottom: 10px;
    }
}
</style>