<!-- section-partners -->
<div class="section-testimonials tf-spacing-8" id="partners">
    <div class="tf-container">
        <div class="heading-section mb_48">
            <h3>Официальные партнеры</h3>
        </div>
    </div>
    <div class="tf-container sw-layout">
                    <div class="wrap-infiniteslide" style="overflow: hidden;">
                        <div class="infiniteslide " data-clone="2" data-style="infiniteslide1769979545270ee6" style="display: flex; flex-flow: row; align-items: center; animation: 14.0456s linear 0s infinite normal none running infiniteslide1769979545270ee6;">
                            <div class="marquee-item " style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-1.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item " style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-2.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item " style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-3.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item " style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-4.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item " style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-5.png" alt="brand">
                                </div>
                            </div>
                            <div class="marquee-item " style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-6.png" alt="brand">
                                </div>
                            </div>

                        <div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-1.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-2.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-3.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-4.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-5.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-6.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-1.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-2.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-3.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-4.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-5.png" alt="brand">
                                </div>
                            </div><div class="marquee-item infiniteslide_clone" style="flex: 0 0 auto; display: block;">
                                <div class="brand">
                                    <img src="images/logo/brand-6.png" alt="brand">
                                </div>
                            </div></div>
                    </div>
                </div>
</div>