<div style="background-color: #fff;">
<div class="tf-container">

<div class="properties-seller tf-spacing-8">
    <div class="box-sellers style-2">
        <div class="wrap-author">
            <div class="author d-flex align-items-center">
                <div class="avatar esp-promo-icon">🎁</div>
                <div class="author-info d-flex flex-column">
                    <h6 class="mb_8">Хотите узнать о наших секретных акциях?</h6>
                    <span class="text-body-default" style="color: #000;">Поможем выбрать курс и расскажем о скидках, которых нет на сайте</span>
                </div>
            </div>
        </div>
        <div class="wrap-btn esp-promo-btns">
            <a href="https://wa.me/79262576680" target="_blank" class="tf-btn btn-bg-1" style="--button-width: 220px;background-color: #e4e95b;color:#000">
                <span class="d-flex align-items-center gap_8" style="color:#000""><i class="icon-ChatCircleDots"></i>Написать в WhatsApp</span>
                <span class="bg-effect"></span>
            </a>
            <a href="#" class="tf-btn" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="secret_promo" style="--button-width: 200px;">
                <span class="d-flex align-items-center gap_8"><i class="icon-Star"></i>Узнать об акциях</span>
                <span class="bg-effect"></span>
            </a>
        </div>
    </div>
</div>

</div>
</div>
<style>
.box-sellers.style-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border: unset;
    background-color: #FFFDF5;
    padding: 28px;
}
.box-sellers.style-2 .wrap-author {
    display: flex;
    align-items: center;
}
.esp-promo-icon {
    font-size: 56px;
    line-height: 1;
    min-width: 80px;
    text-align: center;
}
.esp-promo-btns {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
}
@media (max-width: 991px) {
    .box-sellers.style-2 {
        flex-direction: column;
        text-align: center;
    }
    .esp-promo-btns {
        flex-direction: column;
        width: 100%;
    }
    .esp-promo-btns .tf-btn {
        width: 100%;
    }
}
</style>