{% load static i18n %}
<!-- section-prices-club -->
<div style="background-color: #fff;">
<div class="tf-spacing-1" style="padding-bottom: 0px;">
<div class="tf-container" id="prices">
    <div class="heading-section justify-content-center text-center mb_48">
        <h3>СПЕЦИАЛЬНЫЕ ПРЕДЛОЖЕНИЯ <span class="text_secondary-color-2" style="color:#f9ad33">НА АБОНЕМЕНТЫ!</span></h3>
    </div>
    <div class="tf-grid-layout lg-col-3">
        <!-- Пробный урок -->
        <div class="pricing-item">
            <div class="heading d-grid gap_8 mb_24">
                <h5>ПЕРВЫЙ УРОК</h5>
                <p>Попробуйте наш клуб</p>
                <h3>380 р.</h3>
            </div>
            <a href="#" class="tf-btn btn-border w-full" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="club_trial" style="--button-width: 352px;">
                <span>Записаться</span>
                <span class="bg-effect"></span>
            </a>
            <div class="content">
                <div class="text-title fw-6 text_primary-color mb_19">Включено:</div>
                <ul class="list">
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>1 занятие в разговорном клубе
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Занятие с носителем языка
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Группа по вашему уровню
                    </li>
                </ul>
            </div>
        </div>
        <!-- Разовый урок -->
        <div class="pricing-item center" style="background-color: #EEFFC7;">
            <div class="tag d-flex gap_4 text_primary-color text-button-small align-items-center">
                <i class="icon-Star"></i>
                Популярный
            </div>
            <div class="heading d-grid gap_8 mb_24">
                <h5>РАЗОВЫЙ УРОК</h5>
                <p>Занимайтесь без обязательств</p>
                <h3>490 р.</h3>
            </div>
            <a href="#" class="tf-btn btn-bg-1 w-full" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="club_single" style="--button-width: 354px;">
                <span>Записаться</span>
                <span class="bg-effect"></span>
            </a>
            <div class="content">
                <div class="text-title fw-6 text_primary-color mb_19">Включено:</div>
                <ul class="list">
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>1 занятие в разговорном клубе
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Занятие с носителем языка
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Группа по вашему уровню
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Материалы занятия
                    </li>
                </ul>
            </div>
        </div>
        <!-- Абонемент -->
        <div class="pricing-item">
            <div class="heading d-grid gap_8 mb_24">
                <h5>АБОНЕМЕНТ</h5>
                <p>Максимальная экономия</p>
                <h3>По запросу</h3>
            </div>
            <a href="#" class="tf-btn btn-border w-full" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="club_subscription" style="--button-width: 352px;">
                <span>Узнать цену</span>
                <span class="bg-effect"></span>
            </a>
            <div class="content">
                <div class="text-title fw-6 text_primary-color mb_19">Включено:</div>
                <ul class="list">
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Несколько занятий по выгодной цене
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Занятие с носителем языка
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Группа по вашему уровню
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Материалы всех занятий
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Скидка на следующий абонемент
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<style>
.pricing-item.center {
    background-color: unset;
}
</style>