<div style="background-color: #fff;">
<div class="tf-container">

<div class="properties-seller tf-spacing-8">
    <div class="box-sellers style-2">
        <div class="wrap-author">
            <div class="author d-flex align-items-center">
                <div class="avatar esp-promo-icon">🎯</div>
                <div class="author-info d-flex flex-column">
                    <h6 class="mb_8">Не знаете свой уровень?</h6>
                    <span class="text-body-default" style="color: #000;">Пройдите тест, и мы подберем для вас курс, подходящий именно вам!</span>
                </div>
            </div>
        </div>
        <div class="wrap-btn esp-promo-btns">
            <a href="#" class="tf-btn btn-bg-1" style="--button-width: 220px;">
                <span class="d-flex align-items-center gap_8"><i class="icon-PencilLine"></i>Пройти тест</span>
                <span class="bg-effect"></span>
            </a>
        </div>
    </div>
</div>

</div>
</div>
<style>
.box-sellers.style-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
    border: unset;
    background-color: #FFFDF5;
    padding: 28px;
}
@media (max-width: 768px) {
    .box-sellers.style-2 .tf-btn {
        min-width: 100%;
    }
    .esp-promo-icon {
        font-size: 32px;
        width: 70px;
    }
}
</style>