{% load static i18n %}
<!-- section-prices-dele -->
<div style="background-color: #fff;">
<div class="tf-spacing-1" style="padding-bottom: 0px;">
<div class="tf-container" id="prices">
    <div class="heading-section justify-content-center text-center mb_48">
        <h3>СТОИМОСТЬ <span class="text_secondary-color-2" style="color:#f9ad33">ОБУЧЕНИЯ</span></h3>
        <p>Двухмесячный курс по подготовке к DELE</p>
    </div>
    <div class="tf-grid-layout lg-col-2 gap_30" style="max-width: 900px; margin: 0 auto;">
        <!-- Группа до 5 -->
        <div class="pricing-item center" style="background-color: #EEFFC7;">
            <div class="tag d-flex gap_4 text_primary-color text-button-small align-items-center">
                <i class="icon-Star"></i>
                Оптимальный
            </div>
            <div class="heading d-grid gap_8 mb_24">
                <h5>ГРУППА ДО 5</h5>
                <p>Мини-группа с носителем</p>
                <h3>32 900 р.*</h3>
                <span class="text-body-default" style="color:#888;">(910 р. за 60 мин)</span>
            </div>
            <a href="#" class="tf-btn btn-bg-1 w-full" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="dele_group" style="--button-width: 354px;">
                <span>Записаться</span>
                <span class="bg-effect"></span>
            </a>
            <div class="content">
                <div class="text-title fw-6 text_primary-color mb_19">Включено:</div>
                <ul class="list">
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>16 уроков по 135 мин в мини-группах (36 уроков по 60 мин)
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Преподаватель — носитель
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Живые уроки онлайн в Zoom
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Домашнее задание на платформе
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Все разделы: чтение, аудирование, письмо, говорение
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Психологическая подготовка к экзамену
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Поддержка преподавателя в Telegram-чате
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Видео-записи уроков на платформе
                    </li>
                    <li class="d-flex align-items-center gap_8 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>5 тестов, повторяющих реальный экзамен
                    </li>
                </ul>
            </div>
        </div>
        <!-- Индивидуально -->
        <div class="pricing-item">
            <div class="tag d-flex gap_4 text_primary-color text-button-small align-items-center">
                <i class="icon-Star"></i>
                VIP
            </div>
            <div class="heading d-grid gap_8 mb_24">
                <h5>ИНДИВИДУАЛЬНО</h5>
                <p>Максимум внимания</p>
                <h3>41 900 р.*</h3>
                <span class="text-body-default" style="color:#888;">(2 900 р. за 60 мин или 16 уроков)</span>
            </div>
            <a href="#" class="tf-btn btn-border w-full" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="dele_individual" style="--button-width: 352px;">
                <span>Записаться</span>
                <span class="bg-effect"></span>
            </a>
            <div class="content">
                <div class="text-title fw-6 text_primary-color mb_19">Включено:</div>
                <ul class="list">
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>16 индивидуальных уроков по 60 мин
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Преподаватель — носитель
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Живые уроки онлайн в Zoom
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Домашнее задание на платформе
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Все разделы: чтение, аудирование, письмо, говорение
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Психологическая подготовка к экзамену
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Поддержка преподавателя в Telegram-чате
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Видео-записи уроков на платформе
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>5 тестов, повторяющих реальный экзамен
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center mt_24" style="font-size:16px;color:#000;font-weight:400;">* Возможна оплата в евро.</p>
    <p class="text-center" style="font-size:16px;color:#000;font-weight:400;">Курс также полезен тем, кто хочет «разогнать» свой уровень или сдать экзамен чуть позже.</p>
</div>
</div>
</div>
<style>
.pricing-item.center { background-color: unset; }
</style>