{% load static i18n %}
<!-- section-prices-intensivo -->
<div style="background-color: #fff;">
<div class="tf-spacing-1" style="padding-bottom: 0px;">
<div class="tf-container" id="prices">
    <div class="heading-section justify-content-center text-center mb_48">
        <h3>СТОИМОСТЬ ОБУЧЕНИЯ</h3>
        <p class="text-body-2 mt_12" style="max-width: 700px; margin: 0 auto;">Мы предлагаем самую простую систему оплаты. Платите за время, которое Вам потребуется для развития нового навыка! Вы можете прекратить обучение, как только почувствуете, что цель достигнута.</p>
        <p class="text-body-2 mt_12 fw-6">Подписка — ежемесячная!</p>
    </div>
    <div class="d-flex justify-content-center">
        <div class="pricing-item center" style="max-width: 450px; width: 100%; background-color: #EEFFC7;">
            <div class="tag d-flex gap_4 text_primary-color text-button-small align-items-center">
                <i class="icon-Star"></i>
                Оптимальный
            </div>
            <div class="heading d-grid gap_8 mb_24">
                <h5>ТОЛЬКО Я</h5>
                <p>Индивидуальные занятия с преподавателем</p>
                <h3>25 900 р.* <span style="font-size: 16px; font-weight: 400;">/мес</span></h3>
            </div>
            <a href="#" class="tf-btn btn-bg-1 w-full" data-bs-toggle="modal" data-bs-target="#consultModal" data-source="intensivo_tarif" style="--button-width: 354px;">
                <span>Записаться</span>
                <span class="bg-effect"></span>
            </a>
            <div class="content">
                <div class="text-title fw-6 text_primary-color mb_19">Включено в тариф:</div>
                <ul class="list">
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>До 12 индивидуальных уроков в месяц с носителем или русскоговорящим преподавателем
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Доступ к платформе: упражнения, аудио-тренажёры, задания на говорение и письмо, тесты
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Проверка заданий преподавателем в течение 1 месяца
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Презентации для скачивания
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Итоговый экзамен
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>~1000 новых слов в Quizlet
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Доступ к платформе на 6 месяцев
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Чат с преподавателем и куратором
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Сертификат (после итогового экзамена)
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Записи всех занятий
                    </li>
                    <li class="d-flex align-items-center gap_6 text_primary-color text-body-default">
                        <i class="icon-CheckCircle"></i>Призы за выполненные задания
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center mt_24" style="font-size:16px;color:#000;font-weight:400;">
        * Возможна оплата в евро.
    </p>
    <p class="text-center" style="font-size:16px;color:#000;font-weight:400;">
        Нужно больше практики? Участвуйте в нашем онлайн разговорном клубе по специальной цене.
    </p>
</div>
</div>
</div>