{% load static i18n %}
<!-- Critical (jQuery first) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Core plugins (depend on jQuery) -->
<script src="{% static 'js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'js/carousel.js' %}"></script>
<script src="{% static 'js/magnific-popup.min.js' %}"></script>
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

<!-- Animations (can defer) -->
<script defer src="{% static 'js/gsap.min.js' %}"></script>
<script defer src="{% static 'js/ScrollTrigger.min.js' %}"></script>
<script defer src="{% static 'js/SplitText.min.js' %}"></script>
<script defer src="{% static 'js/ScrollSmooth.js' %}"></script>
<script defer src="{% static 'js/splitting.min.js' %}"></script>
<script defer src="{% static 'js/parallaxie.js' %}"></script>
<script defer src="{% static 'js/handleGsap.js' %}"></script>

<!-- External -->
<script defer src="https://sibforms.com/forms/end-form/build/main.js"></script>

<!-- Main + Init -->
<script src="{% static 'js/main.js' %}"></script>
<script>
$(function() {
    $('.popup-youtube').magnificPopup({
        type: 'iframe',
        mainClass: 'mfp-fade',
        preloader: false
    });
});
</script>