{% extends 'base.html' %}
{% load static i18n %}

{% block title %}Объекты недвижимости - espacademia{% endblock %}
{% block meta_description %}Каталог объектов недвижимости на Бали от проверенных застройщиков{% endblock %}

{% block content %}
<!-- Page Title -->

     <div class="flat-map">
            <div class="mapbox-3 ">
                <div id="map"></div>
            </div>

            <div class="tf-container">
                <div class="flat-tab flat-tab-form">
                    <div class="wg-filter">
                        <div class="widget-content-inner active">
                            <div class="form-title">
                                <form method="get" action="{% url 'properties:list' %}">
                                <div class="wrap-fill tf-grid-layout lg-col-4 md-col-2">
                                    <div class="w-full">
                                        <label for="lookingFor" class="text-button text_primary-color mb_8">Поиск</label>
                                        <fieldset>
                                            <input type="text" placeholder="Название объекта" id="lookingFor" name="q" value="{{ request.GET.q }}">
                                        </fieldset>
                                    </div>
                                    <div>
                                        <div class="text-button text_primary-color mb_8">Район</div>
                                        <div class="nice-select" tabindex="0">
                                            <span class="current">{{ current_location.name|default:"Все районы" }}</span>
                                            <ul class="list">
                                                <li data-value="" class="option {% if not request.GET.location %}selected{% endif %}">Все районы</li>
                                                {% for loc in locations %}
                                                <li data-value="{{ loc.slug }}" class="option {% if request.GET.location == loc.slug %}selected{% endif %}">{{ loc.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <input type="hidden" name="location" value="{{ request.GET.location }}">
                                    </div>
                                    <div>
                                        <div class="text-button text_primary-color mb_8">Тип</div>
                                        <div class="nice-select" tabindex="0">
                                            <span class="current">{{ current_type.name|default:"Все типы" }}</span>
                                            <ul class="list">
                                                <li data-value="" class="option {% if not request.GET.type %}selected{% endif %}">Все типы</li>
                                                {% for pt in property_types %}
                                                <li data-value="{{ pt.slug }}" class="option {% if request.GET.type == pt.slug %}selected{% endif %}">{{ pt.name }}</li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        <input type="hidden" name="type" value="{{ request.GET.type }}">
                                    </div>
                                    <div>
                                        <div class="text-button text_primary-color mb_8">Комнат</div>
                                        <div class="nice-select" tabindex="0">
                                            <span class="current">{{ request.GET.rooms|default:"Любое" }}</span>
                                            <ul class="list">
                                                <li data-value="" class="option {% if not request.GET.rooms %}selected{% endif %}">Любое</li>
                                                <li data-value="1" class="option {% if request.GET.rooms == '1' %}selected{% endif %}">1 комната</li>
                                                <li data-value="2" class="option {% if request.GET.rooms == '2' %}selected{% endif %}">2 комнаты</li>
                                                <li data-value="3" class="option {% if request.GET.rooms == '3' %}selected{% endif %}">3+ комнаты</li>
                                            </ul>
                                        </div>
                                        <input type="hidden" name="rooms" value="{{ request.GET.rooms }}">
                                    </div>
                                </div>
                                <div class="wrap-btn">
                                    <div class="btn-filter show-form">
                                        <div class="icons">
                                            <i class="icon-Faders"></i>
                                        </div>
                                    </div>
                                    <button type="submit" class="tf-btn btn-px-28 btn-bg-1" style="--button-width: 110.656px;">
                                        <span>Найти</span>
                                        <span class="bg-effect" style="top: 36px; left: -4.34375px;"></span>
                                    </button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-content -->
        <div class="main-content">

            <div class="section-properties" style="background-color: #fff;">
                <div class="tf-spacing-1">
                    <div class="tf-container ">

                        <div class="box-title mb_40">
                            <div>
                                <ul class="breadcrumb style-1 text-button fw-4 mb_4">
                                    <li><a class="" href="/">Главная</a></li>
                                    <li>Объекты недвижимости</li>
                                </ul>
                                <h4>Объекты недвижимости</h4>
                            </div>
                            <div class="right d-flex gap_12">
                                <ul class="nav-tab-filter align-items-center group-layout d-flex gap_12" role="tablist">
                                    <li class="nav-tab-item" role="presentation">
                                        <a href="#gridLayout" class="btn-layout grid nav-link-item active" data-bs-toggle="tab">
                                            <i class="icon-SquaresFour"></i>
                                        </a>
                                    </li>
                                    <li class="nav-tab-item" role="presentation">
                                        <a href="#listLayout" class="nav-link-item btn-layout list" data-bs-toggle="tab">
                                            <i class="icon-Rows"></i>
                                        </a>
                                    </li>
                                </ul>
                                <div class="nice-select select-filter list-sort" tabindex="0">
                                    <span class="current">Сортировка</span>
                                    <ul class="list">
                                        <li data-value="default" class="option selected">По умолчанию</li>
                                        <li data-value="price_asc" class="option">Цена ↑</li>
                                        <li data-value="price_desc" class="option">Цена ↓</li>
                                        <li data-value="new" class="option">Сначала новые</li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="flat-animate-tab">
                            <div class="tab-content">
                                <div class="tab-pane active show" id="gridLayout" role="tabpanel">
                                    <div class="tf-grid-layout lg-col-3 md-col-2">
                                        {% for property in properties %}
                                        <div class="card-house style-default hover-image" data-id="{{ property.id }}">
                                            <div class="img-style mb_20">
                                                {% if property.get_main_image %}
                                                <img loading="lazy" decoding="async" src="{{ property.get_main_image }}" width="410" height="308" alt="{{ property.name }}">
                                                {% endif %}
                                                <div class="wrap-tag d-flex gap_8 mb_12">
                                                        <div class="tag rent text-button-small fw-6 text_primary-color">
                                                            {{ property.developer.name }}
                                                        </div>
                                                    {% if property.property_type %}
                                                    <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        {{ property.property_type.name }}
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                <a href="{% url 'properties:detail' property.slug %}" class="overlay-link"></a>
                                            </div>
                                            <div class="content">
                                                {% if property.price_from %}
                                                <h4 class="price mb_12">${{ property.price_from|floatformat:0 }}</h4>
                                                {% endif %}
                                                <a href="{% url 'properties:detail' property.slug %}" class="title mb_8 h5 link text_primary-color">{{ property.name }}</a>
                                                <p>{% if property.location %}{{ property.location.name }}{% endif %}</p>
                                                <ul class="info d-flex">
                                                    {% if property.rooms %}
                                                    <li class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>{{ property.rooms }} комн.
                                                    </li>
                                                    {% endif %}
                                                    {% if property.area %}
                                                    <li class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>{{ property.area }} м²
                                                    </li>
                                                    {% endif %}
                                                    {% if property.completion_status %}
                                                    <li class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon icon-CalendarBlank"></i>{{ property.completion_status }}
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <p class="text-center">Объекты не найдены</p>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane" id="listLayout" role="tabpanel">
                                    <div class="wrap-list d-grid gap_30">
                                        {% for property in properties %}
                                        <div class="card-house style-list v2" data-id="{{ property.id }}">
                                            <div class="wrap-img">
                                                <a href="{% url 'properties:detail' property.slug %}" class="img-style">
                                                    {% if property.get_main_image %}
                                                    <img loading="lazy" decoding="async" src="{{ property.get_main_image }}" width="392" height="260" alt="{{ property.name }}">
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="content">
                                                <div class="d-flex align-items-center gap_6 top mb_16 flex-wrap justify-content-between">
                                                    {% if property.price_from %}
                                                    <h4 class="price">${{ property.price_from|floatformat:0 }}</h4>
                                                    {% endif %}
                                                    <div class="wrap-tag d-flex gap_8">
                                                        <div class="tag rent text-button-small fw-6 text_primary-color">
                                                            {{ property.developer.name }}
                                                        </div>
                                                        {% if property.property_type %}
                                                    <div class="tag categoreis text-button-small fw-6 text_primary-color">
                                                        {{ property.property_type.name }}
                                                    </div>
                                                    {% endif %}
                                                    </div>
                                                </div>
                                                <a href="{% url 'properties:detail' property.slug %}" class="title mb_8 h5 link text_primary-color">{{ property.name }}</a>
                                                <p>{% if property.location %}{{ property.location.name }}{% endif %}</p>
                                                <ul class="info d-flex">
                                                    {% if property.rooms %}
                                                    <li class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Bed"></i>{{ property.rooms }} комн.
                                                    </li>
                                                    {% endif %}
                                                    {% if property.area %}
                                                    <li class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon-Ruler"></i>{{ property.area }} м²
                                                    </li>
                                                    {% endif %}
                                                    {% if property.completion_status %}
                                                    <li class="d-flex align-items-center gap_8 text-title text_primary-color fw-6">
                                                        <i class="icon icon-CalendarBlank"></i>{{ property.completion_status }}
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% if page_obj.has_other_pages %}
                        <ul class="wg-pagination justify-content-center">
                            {% if page_obj.has_previous %}
                            <li class="arrow">
                                <a href="?page={{ page_obj.previous_page_number }}"><i class="icon-CaretLeft"></i></a>
                            </li>
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                            <li {% if page_obj.number == num %}class="active"{% endif %}>
                                <a href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endfor %}
                            {% if page_obj.has_next %}
                            <li class="arrow">
                                <a href="?page={{ page_obj.next_page_number }}"><i class="icon-CaretRight"></i></a>
                            </li>
                            {% endif %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>

        </div>
        <!-- End main-content -->
<style>
    form { display: contents; }
</style>
{% endblock %}